.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.login-box {
  background-color: #fcf7eb;
  border: 0px solid #cccccc;
  padding: 80px;
  border-radius: 5px;
  margin-left: 50px;
  width: 50vh;
}

.login {
  margin-left: 10px;
}
